// background: var(--btn-bg-primary);

.spinner.loading {
  padding: 50px;
  text-align: center;
}

.loading-text {
  width: 175px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 85px);
  text-align: center;
}

.spinner.loading:before {
  content: '';
  height: 200px;
  width: 200px;
  margin: -15px auto auto -15px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 85px);
  border-width: 8px;
  border-style: solid;
  border-color: #2180c0 #2180c08a;
  border-radius: 100%;
  animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader-container {
  background-color: #00152a;
  @apply flex absolute w-full h-full justify-center items-center;
}
