.main {
  @apply bg-center bg-cover flex items-center justify-center p-4;
  height: 550px;
}

.inner-form {
  @apply pt-16 pl-24;
  position: center;
  width: 1000px;
}

.main-form {
  @apply bg-black rounded-sm inline-block p-10 relative;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
  width: 800px;
  bottom: 80px;
}
.icon-wrap {
  @apply flex justify-center absolute inset-y-0 left-0 w-12;
}
.svg-image {
  @apply h-5 mt-5 p-1 w-5;
  color: rgba(51, 51, 51, 1);
}
.input-field {
  @apply h-16 mx-10 p-2;
}
.label {
  @apply block font-medium h-12 text-black;
  font-size: 11px;
}
.input {
  @apply bg-transparent text-base w-full;
  font-family: 'Lato', sans-serif;
  outline: none;
}
.btn-search {
  @apply rounded-sm border-0 cursor-pointer font-black h-10 text-base relative text-white;
  min-width: 100px;
  background-color: orange;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  right: 38px;
}
.input-wrap {
  @apply bg-white rounded-sm h-16 relative w-56;
  right: 18px;
}
.input-wrap1 {
  @apply bg-white rounded-sm h-16 relative w-56;
  left: 6px;
}
.input-wrap3 {
  @apply bg-white rounded-sm h-16 relative w-56;
  left: 25px;
}
.travel-type-wrap {
  @apply inline-flex h-20 mt-5 mb-24;
  width: 700px;
  bottom: 10px;
}
.item {
  @apply bg-white rounded-sm cursor-pointer mr-1 py-4 px-5 text-center;
  color: rgba(85, 85, 85, 1);
  transition: all 0.3s;
}
.item.active {
  color: #fff;
  background: #2c6ed5;
}
.item.cursor {
  cursor: not-allowed;
}
.travel-type-wrap .item .group-icon {
  @apply box-border flex justify-center mb-2;
}
.hover {
  background-color: blue;
  border: none;
}
.text {
  @apply text-xs font-semibold content-start;
  font-family: 'Lato', sans-serif;
}

.icon {
  @apply h-5 m-1 w-5;
}
.item:hover {
  color: white;
}
.heading {
  @apply text-4xl text-white p-3;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.picker {
  outline: none;
  width: 128px;
  height: 24px;
}
.picker::placeholder {
  width: 120px;
  height: 50px;
}
