.content {
  @apply h-screen flex justify-center items-center;
}
.label {
  @apply block text-black text-sm font-medium mb-2 h-12;
}
.inputField {
  @apply border border-solid border-zinc-500 rounded-md w-full py-2 px-3 text-black text-sm;
  outline: none;
  font-family: 'Lato', sans-serif;
}
.form {
  margin-bottom: 13px;
}
.btn-continue {
  background-color: orange;
  @apply w-full text-white font-semibold py-2 px-3 rounded-md mt-2;
  @layer focus:outline-none focus:shadow-outline;
}
.box {
  @apply rounded bg-black p-10;
}
.sigup-heading {
  @apply text-3xl lg:text-4xl text-start select-none p-5 text-white;
  font-family: 'Lato', sans-serif;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-ms-reveal {
  display: none;
}
@media (max-width: 400px) {
  .content {
    @apply p-5;
  }
  .sigup-heading {
    @apply text-2xl;
  }
}
