*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.modal-popup {
  margin-top: 10px;
}

:hover.modal-popup {
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  top: 0.2rem;
  right: 0.2rem;
  background-color: rgb(236, 8, 8);
  height: 28px;
  width: 28px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: larger;
  border: none;
}
.modal-table {
  width: 70vw;
}

.modal-header {
  position: sticky;
  top: 0;
}
.modal-thead {
  background-color: #186399;
}
.modal-thead1 {
  background-color: #125483;
}
.modal-close-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.modal-roomtype {
  text-decoration: none;
  font-size: 10px;
}
