.main-content {
  min-height: 100vh;
}
.sorting-container {
  @apply border-black border-solid border flex;
}
.sort,
.best-match,
.match,
.lowest-price,
.viewed {
  @apply border-solid border mb-1 mt-1 p-1 text-center;
  font-size: small;
  border-color: rgba(220, 220, 220, 1);
}
.sort,
.best-match,
.match,
.viewed {
  width: 18%;
}
.sort {
  @apply ml-1;
}
.best-match {
  background-color: var(--btn-bg-primary);
}
.match {
  @apply mr-1;
}
.lowest-price {
  width: 28%;
}
.location-items {
  @apply text-sm;
}

.location-items:hover {
  cursor: pointer;
  @apply bg-slate-300;
}
.search-heading {
  @apply mt-4;
  font-weight: bold;
}
.hotel-chains-heading {
  @apply mt-5;
  font-weight: bold;
}
.hotel-search-results {
  @apply mt-5;
}
@media only screen and (min-width: 1280px) {
  .hotel-search-results {
    @apply flex ml-24;
  }
  .search-result {
    @apply ml-4;
    width: 770px;
  }
  .sorting-container {
    margin-left: 8rem !important;
  }
}
@media only screen and (min-width: 640px) {
  .sorting-container {
    margin-left: 2rem;
    width: 510px;
  }
  .hotel-search {
    @apply mt-2;
  }
  .filters {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    top: 50px;
    position: sticky;
    margin-right: 70px;
    margin-left: 35px;
  }
  .hotel-search-results {
    @apply flex;
  }
}
@media only screen and (max-width: 639px) {
  .hotel-search {
    @apply m-2;
  }
  .filters {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .search-result {
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width: 479px) {
  .filters {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
}
