*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

.modal-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 900px;
  max-width: 80%;
  max-height: calc(100vh - 210px);
  overflow-y:hidden;
  overflow-x: hidden;
  border-radius: 5px;
   @apply shadow-black shadow-md  hover:shadow-lg hover:shadow-black   
}

:hover.modal-popup{
    overflow-y: auto;
    overflow-x: hidden;
}
  .modal-overlay{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(49,49,49,0.8);
  }
  .modal-close{
    position:absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
    top: .2rem;
    right: .2rem;
    background-color: rgb(236, 8, 8);
    height: 28px;
    width: 28px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: larger;
    border: none;

    
}
.modal-table{
    width:70vw;

}

.modal-header{
    position: sticky;
    top: 0;
}
.modal-thead{
    background-color:  #186399;

}
.modal-thead1{
    background-color:  #125483;
    
}
.modal-close-btn{
    display: flex;
    flex-direction:row-reverse;
    justify-content: right;
}


.modal-roomtype{
    
    text-decoration: none;
    font-size: 10px;
}

