.main-content-hotel {
  margin-top: 15px;
  width: 705px;
  margin-left: 3px;
  padding: 2px;
}
.hotel-content {
  border: 1px solid rgba(220, 220, 220, 1);
  padding: 1px;
  height: 14rem;
  margin-top: 5px;
}
.book-image {
  height: 95%;
  width: 80%;
  margin-left: 5px;
  margin-top: 5px;
}
.location-book {
  display: flex;
  gap: 5px;
}
.hotel-name-book {
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: bold;
}
.hotel-details-book {
  width: 500px;
  margin-left: -40px;
}
.hotel-address-book {
  font-size: 1rem;
  margin-top: 10px;
}
