.overview {
  display: flex;
  gap: 10px;
}
.address-avail {
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  border-top: 1px solid rgba(0, 0, 0, 0.34);
  border-right: 1px solid rgba(0, 0, 0, 0.34);
  margin-top: 10px;
  width: 850px;
}
.hotelName {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}
.address-field {
  display: flex;
  margin-top: 5px;
}
.adress {
  font-size: 12px;
  display: inline;
}
.overview .address-avail .address-field h1:not(:last-of-type)::after {
  content: ',';
}
.map {
  width: 250px;
  height: 250px;
  margin-top: 8px;
}
.room-type {
  text-decoration: none;
  font-size: 13px;
}
.grid-view {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}
.grid-item {
  height: 25px;
  display: flex;
  gap: 10px;
}
.iso-mark {
  color: green;
  font-size: large;
}
.facilities {
  font-size: 20px;
  margin-top: 10px;
}
