.travel-type-wrap {
  display: inline-flex;
  margin-top: 20px;
  height: 80px;
  width: 700px;
}
.travel-type-wrap .item .group-icon {
  @apply box-border flex justify-center mb-2;
}
.item {
  @apply bg-white rounded-sm cursor-pointer mr-1 py-4 px-5 text-center;
  color: rgba(85, 85, 85, 1);
  transition: all 0.3s;
}
.item.active {
  color: #fff;
  background: var(--btn-bg-primary);
}
.item.cursor {
  cursor: not-allowed;
}
.icon {
  @apply h-5 m-1 w-5;
}
.item:hover {
  color: white;
}
