.modal-table {
  width: 1100px;
}
.price {
  padding: 0.75rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  width: 7rem;
}

.modal-thead {
  background-color: #186399;
}
.modal-thead1 {
  background-color: #125483;
}
.modal-close-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}
.room-list {
  margin-top: 10px;
  display: flex;
}
.heading-select-room {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
}
.table-header {
  background-color: #186399;
  position: sticky;
  top: 0px;
}
.border {
  border-right: 1px solid white;
}
.tick-mark {
  color: green;
  font-size: x-large;
  margin-top: 10px;
}
.refund {
  margin-top: 10px;
}
.reserve-button {
  height: 40px;
  width: 180px;
  background-color: var(--btn-bg-primary);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 60px;
  margin-left: 20px;
}
.selected {
  cursor: pointer;
}
:hover.selected {
  border: 1px solid #bfdbfe;
}
.reserve {
  width: 250px;
  height: 300px;
  position: sticky;
  top: 0px;
}
.error-message {
  @apply text-red-600  my-2 text-center border-2 rounded-md border-red-400 bg-red-50 p-2 shadow-md shadow-gray-500;
}
