.side-content {
  padding: 2px;
  float: left;
  margin-top: 20px;
  height: 550px;
}
.booking-details {
  padding: 4px;
}
.booking-content {
  margin: 10px 10px 0px 10px;
}
.book-heading {
  margin-top: -10px;
}
.dates {
  padding: 3px;
  justify-content: space-between;
  margin: 2px 0px 7px 0px;
  width: 100%;
}
.input-dates {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  white-space: nowrap;
}
.book-date {
  font-weight: bold;
}
.stay {
  color: rgb(0 0 0);
  font-weight: 500;
  margin-top: 10px;
}
.divider {
  background: rgba(220, 220, 220, 1);
  padding: 0.2px;
}
.mid-layer {
  margin-bottom: 20px;
}
.bottom-layer {
  margin-top: 20px;
}
.rate {
  margin-top: 10px;
  padding: 10px;
}
.rate-content {
  margin: 10px 10px 10px 10px;
}
.rate-heading {
  margin: -10px 0px 0px;
}
.room {
  margin-right: 80px;
}
.room-heading {
  margin-right: 90px;
}
.rate-final {
  margin-left: 100px;
}
.room-rate {
  margin-left: 65px;
}
.cancel-content {
  margin: 0px 10px 40px 10px;
}
.cancel-heading {
  margin: -5px 0px 0px 0px;
}
.cancellation {
  color: green;
  margin-top: 15px;
}
.rate-cancel {
  margin-top: 10px;
}
.cancel-date {
  margin-top: -10px;
  width: 350px;
}
.policy {
  display: flex;
  flex-direction: row;
}
.final-rate {
  font-size: 13px;
}
.confirmation-heading {
  font-size: 18px;
  color: rgb(0 0 0);
  white-space: nowrap;
}
.details-border {
  width: 350px;
  border: 1px solid rgba(220, 220, 220, 1);
}
.room-font {
  font-size: 15px;
}
.room-price {
  margin-top: 3px;
}
