.final-confirmation {
  height: 345px;
}
.final-booking-info-outline {
  margin-left: 8rem;
  margin-top: 4rem;
  height: 50px;
  width: 1060px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  border: 1px solid #ccc9c9;
}

.final-booking-info-image-container {
  width: 0.75rem;
  display: flex;
  height: 1.6rem;
  margin-top: 5px;
}

.final-booking-info-content {
  margin-left: 5px;
  margin-top: 5px;
}

.final-booking-content {
  border: 1px solid rgba(220, 220, 220, 1);
  width: 1060px;
  margin-left: 8rem;
  margin-top: 10px;
}

.final-booking-details {
  height: 150px;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
  display: flex;
}

.check-out-date {
  margin-left: 95px;
}

.final-booking-hotel-details-container {
  height: 100px;
  width: 1060px;
}

.final-booking-content {
  width: 1060px;
  border-width: 1px;
}

.final-booking-hotel-name {
  margin-left: 55px;
  margin-top: 60px;
  width: 400px;
  height: 2rem;
}

.view-booking {
  margin-top: 50px;
  margin-left: 70px;
}

.btn-viewbooking {
  @apply h-12 ml-44 mt-1 pl-4 text-white text-lg font-bold w-60;
  border-radius: 5px;
  background-color: var(--btn-bg-primary);
  text-align: center;
}

.final-booking-id {
  display: flex;
  margin-left: 35px;
  color: black;
}

.confirmation-number {
  font-size: large;
  font-weight: bold;
}

.final-booking-hotel-room-image {
  margin-top: 9px;
  margin-left: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

#final-booking-content {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20px;
  background-color: white;
  margin-top: 60px;
  margin-left: -20px;
  border-width: 1px;
}
.booking-confirm-after-book {
  color: var(--btn-bg-primary);
}
.progress-divider-after-book {
  background: var(--btn-bg-primary);
}
.items-icon-after-book {
  color: white;
  background: var(--btn-bg-primary) !important;
}
