.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.swiper-indicator {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.swiper-indicator-item {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-indicator-item.active {
  background-color: #777777;
}
.swiper-container div {
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
  position: absolute;
  top: 150px;
}

.swiper-container div:hover {
  background-color: #ddd;
  color: black;
}

.arrow {
  border-radius: 50%;
  background-color: rgba(49, 49, 49, 0.8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.previous {
  left: 0;
  z-index: 1;
}

.next {
  right: 0;
}
