.gallery {
  height: 350px;
  width: 1060px;
  margin-left: 128px;
  display: flex;
  flex-wrap: wrap;
}
.first-image {
  height: 350px;
  width: 300px;
}
.slider {
  height: 250px;
  width: 1060px;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}
.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
.sliderWrapper {
  height: 250px;
  width: 1060px;
  margin-left: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderImg {
  height: 250px;
  width: 1060px;
}
.hotelImg {
  width: 245px;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}
.more-photos {
  color: white;
  width: 500px;
  height: 50px;
  margin-top: -100px;
  margin-left: 900px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.image-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 355px;
  width: 750px;
  margin-left: 6px;
}
.content-avail {
  height: 100%;
  width: 1060px;
  margin-left: 128px;
}
.button-group {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.34);
  margin-top: 10px;
}
.tab {
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  margin-top: 5px;
  margin-bottom: 5px;
}
.active-tab {
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--btn-bg-primary);
}
.image-viewer {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 600px;
  width: 1000px;
  @apply shadow-black shadow-md  hover:shadow-lg hover:shadow-black;
}

.image-grid-border {
  margin: 20px 0px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.34);
  width: 970px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 530px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0px 10px 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 500px;
}
:hover.image-grid {
  overflow-x: hidden;
  overflow-y: auto;
}

.image {
  width: 300px;
  height: 200px;
}
.close-button {
  justify-content: center;
  justify-items: center;
  height: 28px;
  width: 28px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: larger;
  border: none;
  margin-top: 10px;
  margin-left: 950px;
}
.seperator {
  margin-top: 15px;
  border-color: rgba(0, 0, 0, 0.45);
}
