.swiper-item {
  width: 100%;
  flex-shrink: 0;
}

.swiper-img {
  width: 100%;
  height: auto;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  .swiper-img {
    aspect-ratio: 0.5;
  }
}
