.main-content {
  min-height: 100vh;
}
.search-container {
  @apply border-black border-solid border flex h-16 ml-32 gap-1;
  width: 1060px;
}
.sorting-container {
  @apply border-black border-solid border flex h-10 ml-32;
  width: 510px;
}
.sort {
  @apply border-solid border h-8 mt-1 ml-1 text-center w-16;
  font-size: small;
  border-color: rgba(220, 220, 220, 1);
}
.best-match {
  @apply border-solid border h-8 mt-1 text-center w-24;
  font-size: small;
  background-color: var(--btn-bg-primary);
}
.match {
  @apply border-solid border h-8 mt-1 text-center w-24;
  font-size: small;
  border-color: rgba(220, 220, 220, 1);
}
.lowest-price {
  @apply border-solid border h-8 mt-1 text-center w-40;
  font-size: small;
  border-color: rgba(220, 220, 220, 1);
}
.viewed {
  @apply border-solid border h-8 mt-1 text-center w-24;
  font-size: small;
  border-color: rgba(220, 220, 220, 1);
}
.location-items {
  @apply text-sm;
}

.location-items:hover {
  cursor: pointer;
  @apply bg-slate-300;
}
.field-destination {
  @apply h-10 ml-1;
  width: 270px;
}
.destination-field {
  @apply border-black border-solid border flex h-12 mt-1 ml-1;
  width: 400px;
  border-radius: 10px;
}
.search-param {
  @apply border-black border-solid border flex h-12 mt-1 ml-1 w-40;
  border-radius: 10px;
}
.button-param {
  @apply h-12 mt-1 ml-1 w-32;
  border-radius: 10px;
}
.button {
  @apply h-12 mx-1 mt-1 text-white w-32;
  border-radius: 10px;
  font-weight: bold;
  width: 120px;
  height: 50px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 10px;
  background-color: var(--btn-bg-primary);
}
.label-field-dest {
  @apply block font-medium h-12 text-black mt-1;
  font-size: 11px;
}
.input-value-dest {
  @apply bg-transparent text-base w-full;
  font-family: 'Lato', sans-serif;
  outline: none;
}
.label-field {
  @apply block font-medium text-black h-4 mt-1 ml-px;
  font-size: 11px;
}
.date-picker-value {
  @apply h-5 ml-px w-32;
  font-family: 'Lato', sans-serif;
}
.date-picker {
  @apply h-5 w-32;
  outline: none;
}
.date-picker::placeholder {
  @apply h-5 w-32;
}
.search-heading {
  @apply mt-4;
  font-weight: bold;
}
.hotel-chains-heading {
  @apply mt-5;
  font-weight: bold;
}
.search-result {
  @apply ml-10;
  width: 770px;
}
