.main-panel {
  //background-color: var(--bg-secondary);
}

.front-header {
  //background-color: var(--bg-primary);
  height: 20vh;
}

.main-content {
  min-height: 100vh;
}

.main-text {
  height: 50%;
  padding-top: 20px;
  @apply text-4xl font-bold text-white;
}

.text-container {
  @apply items-center;
}

.search-panel {
  background-color: var(--bg-secondary);
  @apply mt-[-4rem] md:mt-[-1.25rem] h-32 md:h-full border-amber-500 border-2 font-semibold items-center;
}

.search-container {
  @apply container mx-auto grid grid-cols-2 md:grid-cols-4 gap-1 justify-between items-center h-full;
}

/* Small screens use md: instead*/
@media only screen and (max-width: 600px) {
  .main-content {
    @apply px-4;
  }

  .calenderIcon {
    @apply hidden;
  }
}

.calendarWrap {
  display: inline-block;
  position: relative;
  @apply h-full w-full;
}

.calendarWrap input.inputBox {
  @apply w-full outline-none text-slate-500 h-full pl-2 md:border-l-amber-500 md:border-l;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.search-button {
  background-color: var(--btn-bg-primary);
  color: var(--bg-secondary);
  @apply h-full w-full border-l-amber-500 border-l;
}

.location-items:hover {
  cursor: pointer;
  @apply bg-slate-300;
}

.svg-image {
  @apply h-full w-8 md:w-full;
}
